In [10]:
import pandas as pd
from malnis import show

In [11]:
classical = pd.read_pickle("quotes_results_classical.pkl")
show(classical)

(4, 5)

         model   ap_mean    ap_std   ra_mean    ra_std
0  tfidf_words  0.575364  0.112481  0.542593  0.131214
1    mlp_words  0.654293  0.126897  0.650488  0.134845
2  tfidf_chars  0.674357  0.104588  0.634383  0.130905
3    mlp_chars  0.664439  0.130699  0.681928  0.115138

In [12]:
deep = pd.read_pickle("quotes_results_deep.pkl")
show(deep)

(8, 5)

               model   ap_mean    ap_std   ra_mean    ra_std
0       sbert_cosine  0.525713  0.094763  0.420432  0.121529
1          mlp_sbert  0.599802  0.122095  0.540081  0.136527
2         lstm_sbert  0.600031  0.114286  0.630819  0.095766
3  transformer_sbert  0.562861  0.113720  0.510031  0.143479
4  specter_euclidean  0.531631  0.115481  0.504776  0.125953

In [13]:
full = pd.concat([classical, deep]).sort_values("ra_mean", ascending = False)
show(full, 10)

(12, 5)

                 model   ap_mean    ap_std   ra_mean    ra_std
3            mlp_chars  0.664439  0.130699  0.681928  0.115138
5          mlp_specter  0.651933  0.114136  0.654495  0.117050
1            mlp_words  0.654293  0.126897  0.650488  0.134845
2          tfidf_chars  0.674357  0.104588  0.634383  0.130905
2           lstm_sbert  0.600031  0.114286  0.630819  0.095766
6         lstm_specter  0.637446  0.107458  0.627124  0.108842
7  transformer_specter  0.622799  0.104147  0.589884  0.118470
0          tfidf_words  0.575364  0.112481  0.542593  0.131214
1            mlp_sbert  0.599802  0.122095  0.540081  0.136527
3    transformer_sbert  0.562861  0.113720  0.510031  0.143479

In [15]:
print(full.set_index("model").round(3).to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &  ap\_mean &  ap\_std &  ra\_mean &  ra\_std \\
model               &          &         &          &         \\
\midrule
mlp\_chars           &    0.664 &   0.131 &    0.682 &   0.115 \\
mlp\_specter         &    0.652 &   0.114 &    0.654 &   0.117 \\
mlp\_words           &    0.654 &   0.127 &    0.650 &   0.135 \\
tfidf\_chars         &    0.674 &   0.105 &    0.634 &   0.131 \\
lstm\_sbert          &    0.600 &   0.114 &    0.631 &   0.096 \\
lstm\_specter        &    0.637 &   0.107 &    0.627 &   0.109 \\
transformer\_specter &    0.623 &   0.104 &    0.590 &   0.118 \\
tfidf\_words         &    0.575 &   0.112 &    0.543 &   0.131 \\
mlp\_sbert           &    0.600 &   0.122 &    0.540 &   0.137 \\
transformer\_sbert   &    0.563 &   0.114 &    0.510 &   0.143 \\
specter\_euclidean   &    0.532 &   0.115 &    0.505 &   0.126 \\
sbert\_cosine        &    0.526 &   0.095 &    0.420 &   0.122 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_3685531/4179672817.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(full.set_index("model").round(3).to_latex())